* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:che {
    display: none;
}

a:hover {
    font-size: smaller;
}